@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-y: scroll; /* Ensure the page scrolls */
}

#root {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
}

@media (max-width: 10000px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}

.logos-contianer {
  justify-content: space-between;
  column-gap: 8px;
}

@media screen and (max-width: 361px) {
  .logos-contianer {
    justify-content: center;
    column-gap: 35px;
  }
}

@media screen and (min-width: 494px) {
  .product_bottom {
    gap: 15px;
  }
}

.slick-dots {
  bottom: 195px !important;
}

@media screen and (max-width: 1024px) {
  .slick-dots {
    bottom: 180px !important;
  }
}

@media screen and (max-width: 458px) {
  .slick-dots {
    bottom: 200px !important;
  }
}

.slick-dots ul {
  justify-content: end;
  padding-right: 23px;
}

/* Add these Tailwind classes to your CSS or style file */
.slick-dots li button:before {
  display: none;
  background-color: transparent !important;
}

.slick-dots li {
  position: relative;
  background-color: transparent !important;
  width: 13px !important;
  height: 13px !important;
}

.slick-dots li .dot {
  width: 13px; /* Highlighted dot width */
  height: 13px; /* Highlighted dot height */
  border-radius: 20px; /* Elliptical shape */
  background-color: transparent !important;
  border: 3px solid #dadada;
}

.slick-dots li.slick-active span {
  width: 60px !important; /* Highlighted dot width */
  height: 13px; /* Highlighted dot height */
  border-radius: 20px; /* Elliptical shape */
}
.slick-dots li.slick-active {
  width: 60px !important; /* Highlighted dot width */
  height: 13px; /* Highlighted dot height */
}
